<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if logged_in? %>
	<%= current_user.email %>
	<%= link_to "Me", root_path %>
	<%= link_to "New entry", new_user_entry_path(current_user.id) %>
	<%= link_to "Log out", session_path, method: :delete %>
<% else %>
	<%= link_to "Log in", new_session_path %>
	<%= link_to "Sign up", new_user_path %>
<% end %>

<% flash.each do |key, value| %>
	<div class="<%= key %>">
		<div class="wrapper">
			<p><%= value %></p>
		</div>
	</div>
<% end %>



<%= yield %>

</body>
</html>
